<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>

<form action="#" method="post">
    <table  border="1" align="center">
        <tr>
            <td><label for="username">用户名</label></td>
            <td><input type="text" name="username" placeholder="请输入用户名" id="username"></td>
        </tr>
        <tr>
            <td><label for="password">密码</label></td>
            <td><input type="password" name="password" placeholder="请输入密码" id="password"></td>
        </tr>
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input type="email" name="email" placeholder="请输入Email" id="Email"></td>
        </tr>
        <tr>
            <td><label for="rename">姓名</label></td>
            <td><input type="text" name="rename" placeholder="请输入真实姓名" id="rename"></td>
        </tr>
        <tr>
            <td><label for="Telphone">手机号</label></td>
            <td><input type="text" name="telphone" placeholder="请输入您的手机号" id="Telphone"></td>
        </tr>
        <tr>
            <td><label>性别</label></td>
            <td><input type="radio" name="gender" value="male" checked> 男
                <input type="radio" name="gender" value="female" > 女
            </td>
        </tr>
        <tr>
            <td><label>出生日期</label></td>
            <td><input type="date" name="birthday"></td>
        </tr>
        <tr>
            <td><label for="checkcode">验证码</label></td>
            <td><input type="text" name="checkcode" id="checkcode"> <img src="../image/10.jpg"></td>
            <!-- 10.png为验证码图片 -->
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="注册" ></td>
        </tr>
    </table>
</form>

</body>
</html>